.counterBox{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    justify-content: center;
    text-decoration: none;
}

.counterBox > label{
    font-size: 1.5rem;
}

.counterBoxButtons{
    display: flex;
    flex-direction: column;
    gap:0.2rem;
}

.counterBoxButton{
    display: flex;
    align-items: center;
    border:unset;
    padding: 0 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: var(--text-primary);
    color: black;
}

.counterBoxButton:hover{
    cursor: pointer;
    background-color: var(--text-secondary);
}

.counterBoxButton:disabled{
    background-color: rgba(var(--text-primary-rgb), 30%);
}

.counterBoxButton:disabled:hover{
    cursor: default;
}

.counterBoxButtonIcon{
    width: 1rem;
    height: auto;
    color: black;
}