:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --text-primary: rgba(255, 211, 100, 0.8);
  --text-primary-rgb:255, 211, 100;
  --text-secondary: rgba(255, 211, 100, 0.95);
  --background-secondary: #181818;
  --background-primary: #333333;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --standard-bg:linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 21, 21, 21;
  --background-end-rgb: 41, 41, 41;

  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
          to bottom right,
          rgba(1, 65, 255, 0),
          rgba(1, 65, 255, 0),
          rgba(1, 65, 255, 0.3)
  );

  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: conic-gradient(
          #ffffff80,
          #ffffff40,
          #ffffff30,
          #ffffff20,
          #ffffff10,
          #ffffff10,
          #ffffff80
  );

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus-visible{
  outline:0.1rem solid var(--text-primary);
}

*::selection{
  background-color: rgba(187, 187, 187, 10%);
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.divide-y > * + *{
  border-style: solid;
  border-color: var(--background-primary);
  border-width: 0;
  border-top-width: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="checkbox"]{
  accent-color: var(--text-secondary);
  height: 1.5rem;
  width: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.icon{
  width: 2rem;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.icon:hover{
  color: var(--text-secondary);
}

.bordered-icon{
  border-radius: 0.5rem;
  border:0.1rem solid var(--text-primary)
}

.close-icon:hover{
  cursor: pointer;
  color: var(--text-primary);
}


.dropdown{
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.dropdown > label{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: bold;
  color: var(--text-primary);
  cursor: pointer;
  font-size: 2rem;
}

.dropdown-items{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}


.bossLink{
  all: unset;
  font-size: 1rem;
  color: var(--text-secondary);
  border:0.1rem solid var(--text-secondary);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  padding:0.5rem;
  width: fit-content;
}

.bossLink:hover{
  cursor: pointer;
  background-color: rgba(var(--text-primary-rgb), 20%);
}

.boss-marker-killed{
  z-index: -999 !important;
}

button{
  font-family: '__Buenard_d24d99', '__Buenard_Fallback_d24d99' !important;
}

.leaflet-container{
  width: 80%;
  height: 100%;
  background-color: transparent !important;
  border: 0.6rem solid transparent;
  border-image: url("/icons/fram2.png") 27 / 1.2rem  / 3px 1px 1px 1px repeat;
}

.leaflet-control-zoom{
  margin-top: 0.5rem !important;
  margin-left: 0.5rem !important;
  border-color: var(--text-primary) !important;
}

.leaflet-control-zoom > a{
  transition: all 0.2s ease-in-out;
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb)) !important;
  width: 50px !important;
  height: auto !important;
  color: var(--text-secondary) !important;
  border-color: var(--text-primary) !important;
}

.leaflet-control-zoom > a.leaflet-disabled{
  background-color: gray !important;
  color: white !important;
}

.leaflet-control-zoom > a:hover{
  filter: contrast(110%) brightness(120%);
}

.leaflet-control-attribution{
  display: none;
}

.leaflet-popup-content-wrapper{
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb)) !important;
  font-size: 1rem;
  font-family: '__Buenard_d24d99', '__Buenard_Fallback_d24d99' !important;
}

a.leaflet-popup-close-button{
  font-size: 2rem!important;
  width: 2rem !important;
  height: auto !important;
  color: var(--text-primary) !important;
  transition: all 0.2s ease-in-out;
}

a.leaflet-popup-close-button:hover{
  color: var(--text-secondary) !important;
}

.leaflet-popup-tip{
  background-color: var(--text-secondary) !important;
}

.leaflet-marker-icon{
  transition: filter 0.2s ease-in-out;
}

.leaflet-marker-icon:hover{
  filter: drop-shadow(0 0 0.5rem black) brightness(120%);
}

.filterInput{
  padding: 0.5rem;
  background-color: var(--background-secondary);
  color: white;
  border-top: unset;
  border-right: unset;
  border-bottom: 0.1rem solid var(--text-secondary);
  border-left: unset;
}

.filterReset{
  align-self: flex-end;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--text-secondary);
  border: 0.1rem solid var(--text-secondary);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.filterReset:hover{
  cursor: pointer;
  background-color: rgba(255,210,100, 30%);
}

.filterInput::placeholder{
  color: white;
}

.filterInput:focus{
  border-radius: 2px;
  outline: 0.1rem solid var(--background-primary);
}


@media only screen and (max-width: 650px){
  .leaflet-container{
    width: 90%;
    height: 90%;
  }


  .checkBox{
    width: 2rem;
  }

}

@media only screen and (max-height: 500px) {
  .leaflet-control-zoom{
    margin-top: 0!important;
  }
}
