.main{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem
}
.description{
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.home-link{
    transition: all 0.2s ease-in-out;
    border-radius: 0 0 1rem 1rem;
    background: transparent;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: var(--text-primary);
    box-shadow: inset 0 -1rem 0.5rem -1rem var(--text-primary);
}

.home-link:hover{
    box-shadow: inset 0 -1rem 1.5rem -1rem var(--text-primary);
}

.app-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

