.statsPageBody{
    padding: 4rem;
    display: flex;
    gap:2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.statsPageBodyContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 70%;
}


@media only screen and (max-width: 1200px){
    .statsPageBodyContent{
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {

    .statsPageBodyContent{
        gap:0.5rem;
        margin-bottom: 4rem;
    }

    .statsPageBody{
        overflow-y: scroll;
        padding: 1rem;
    }

}