
.bossTableBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:0.5rem;
}

.bossTable{
    border-collapse: collapse;
    background-color: transparent;
    outline: 0.1rem solid var(--background-primary);
}

.bossList{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    overflow-x: auto;
    gap: 0.5rem;
}

.bossTable > thead > tr > th {
    resize: horizontal;
    overflow: hidden;
    padding:0.5rem;
    text-align: left;
    font-size: 1.5rem;
    outline: 0.1rem solid var(--background-primary);
}
.bossTable > thead > tr{
    position: sticky;
    top: 3rem;
    background-color: var(--background-secondary);
    color: rgb(var(--text-primary-rgb));
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.bossTable > tbody > tr{
    transition: all 1s ease-in-out;
}

.bossTable > tbody > tr >  td{
    padding: 0.5rem;
    cursor: pointer;
}

.bossTable > tbody > .doneRow{
    background-color: rgba(var(--text-primary-rgb), 20%);
}

.bossTable > tbody > .doneRow:hover{
    background: linear-gradient(to top, #282100, rgba(147, 120, 55, 0.8), rgba(217, 179, 84, 0.8), #FFD364CC);
}

.bossTable > tbody > tr:hover, .bossTable > tbody >tr:active{
    background-position-x: 0;
    background: linear-gradient(to bottom, var(--background-primary), var(--background-primary), #3f3f3f, #5b5b5b);
}

.bossTable > tbody > tr > td:last-child{
    text-align: center;
}

.checkBox{
    accent-color: var(--text-secondary);
    height: 1.5rem;
    width: 1rem;
    border-radius: 2rem;
}

.tableAndInfos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filters{
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.filterInputBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filterInputBox > label{
    color: var(--text-secondary);
}

.filterMenu{
    padding: 0 0.5rem;
    display: flex;
    height: 100%;
    background-color: transparent;
    position: sticky;
    left: 0;
    top:0;
    z-index: 10;
}


.searchBox{
    padding:0.5rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    gap:1rem;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.5rem;
    color: var(--text-secondary);
    background-color: var(--background-secondary);
    outline: 0.2rem solid var(--background-secondary)
}

.searchBox > input[type="text"]{
    width: 50%;
}

@media only screen and (max-width: 650px){

    .bossList{
        justify-content: unset;
    }

    .searchBox{
        justify-content: center;
        left: 25vw;
    }

    .searchBox > input[type="text"]{
        width: 100%
    }

    .bossTableBox{
        align-items: flex-start;
    }

    .filterMenu{
        background: linear-gradient(
                to bottom,
                transparent,
                rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    }
}
